{% extends 'base.html.twig' %}

{% block title %}LIST{% endblock %}

{% block body %}

  <section>
    <form action='{{ path('logout') }}' method='post'>
      <input type='submit' value='LOGOUT'/>
    </form>
    <br/>
    <form action="{{ path('create') }}" method='post'>
      <button type='submit'>ADD NEW</button>
    </form>
    <br/>
    <table border="1">
      <thead>
      {% for hi in header %}
        <th>{{ hi }}</th>
      {% endfor %}
      </thead>
      <tbody>
      {% for item in items %}
        <tr>
          {% for prop in item %}
          <td>
            {{ prop }}
          </td>
          {% endfor %}
          <td>
              <form action='{{ path('delete_ask', {'itemID': item['id']}) }}' method='post'>
                <input type='submit' value='DELETE'/>
              </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
