{% extends 'base.html.twig' %}

{% block title %}DELETE{% endblock %}

{% block body %}

  <section>
    {% for error in errors %}
      {{ error }} <br/>
    {% endfor %}
    <br/>
    <form method="post">
      Name: <input type="text"  name="name" value={{ name }}/><br/>
      Secondname: <input type="text"  name="secondname" value={{ secondName }}/><br/>
      Patr: <input type="text"  name="patr" value={{ patr }}/><br/>
      Birthday: <input type="date"  name="birthday" value={{ birthday }}/><br/>
      <input type="submit" value="ADD" name="submit" />
    </form>
  </section>
{% endblock %}
